ubuntu_iso    = "D:\\ISO\\ubuntu-24.04.2-live-server-amd64.iso"
vm_root       = "D:\\HyperV\\KubesprayLab"
switch_name   = "K8s-Lab"
gateway       = "192.168.50.1"
subnet_prefix = 24

ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA... replace-me"
